// Variables
$primary: #FFBA69
$purple: #8676FF
$darkpurple: #AC2AFD
$blue: #2A99FF
$green: #17D74D

// Maps
$pallete: ("primary": #FFBA69, "purple": #8676FF, "darkpurple": #AC2AFD, "blue": #2A99FF, "green": #17D74D)

// Carousel
$noOfSlides            : 5
$carouselHeight        : 300px
$carouselWidth         : 400px
$carouselIndicatorSize : 15px
$carouselControlSize   : 30px
$slideTransition       : .5s
$breakpoint: ('phone': 520px, 'tablet': 768px, 'desktop': 1024px)
    