<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Let's Progress and Reshift">
    <link rel="shortcut icon" href="./icons/favicon.ico" type="image/x-icon">
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|&display=swap">
    <title>Progreshift</title>
</head>
<body>
    <nav class="container">
        <div class="title">
            <h1>Progreshift</h1>
        </div>
        <button tabindex="0" id="hamburger" aria-label="Menu" class="material-icons">menu</button>
        <ul id="drawer" class="links">
            <li><a class="active" href="#">Beranda</a></li>
            <li><a href="#/tips">Tips</a></li>
            <li><a href="#/about">Tentang</a></li>
            <li><a href="#/gallery">Gallery</a></li>
        </ul>
    </nav>
    <main role="main"></main>
</body>
</html>