<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Let's Progress and Reshift">
    <link rel="shortcut icon" href="./public/icons/favicon.ico" type="image/x-icon">
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
    <title>Progreshift</title>
</head>

<body>
    <nav>
        <ul >
            <li><a href="#">Home</a></li>
            <li> <a href="#/gallery">Gallery</a></li>
            <li> <a href="#/tips">Tips</a></li>
            <li> <a href="#/about">About</a></li>
        </ul>
    </nav>
       
       
       
     
        
    <section>
        <main></main>
    </section>
    
</body>

</html>